<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  
  <connectionStrings>
  <add name="ServiceDB"
       connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\pc-1\Desktop\DataAccessors\DataProject\Data\ServiceDatabase.mdf;Integrated Security=True"
       providerName="System.Data.SqlClient"/>


    <add name="CompactDB"
        connectionString="Data Source=|DataDirectory|\App_Data\CompactDatabase.sdf"
        providerName="System.Data.SqlServerCe.4.0" />
    
    
  </connectionStrings>

</configuration>
