<?xml version="1.0"?>
<configuration>
  <!--
    Описание изменений web.config см. по адресу http://go.microsoft.com/fwlink/?LinkId=235367.

    Следующие атрибуты можно установить с помощью тега <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->  
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  
  
  <connectionStrings>
    <add name="ServiceDb" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\pc-1\Desktop\pro\data_accessors\DataProject\bin\Debug\App_Data\ServiceDatabase.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  
  <appSettings>
    <!-- values: orm, ado, file, dir, mem -->
    <add key="AccessorType" value="orm"/>
    <add key="FileDbHome" value="C:\Users\pc-1\Desktop\pro\data_accessors\DataProject\bin\Debug\App_Data\FileDbs"/>
    <add key="DirectoryDbHome" value="C:\Users\pc-1\Desktop\pro\data_accessors\DataProject\bin\Debug\App_Data\FolderDb"/>
  </appSettings>
</configuration>