<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="ServiceDb"
         connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\App_Data\ServiceDatabase.mdf;Integrated Security=True"
         providerName="System.Data.SqlClient"/>

    <add name="CompactDb"
        connectionString="Data Source=|DataDirectory|\App_Data\CompactDatabase.sdf"
        providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>
  <appSettings>
    <!-- values: orm, ado, file, dir, mem -->
    <add key="AccessorType" value="orm"/>
  </appSettings>
</configuration>