<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>  


  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="log4net-log-file.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>


  <connectionStrings>
    <add name="ServiceDb"
         connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\App_Data\ServiceDatabase.mdf;Integrated Security=True"
         providerName="System.Data.SqlClient"/>

    <add name="CompactDb"
        connectionString="Data Source=|DataDirectory|\App_Data\CompactDatabase.sdf"
        providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>
  
</configuration>